<!-- <app-footer-links></app-footer-links> -->
<div class="content-container"> 
  <div  class="footer-links">
    <div id="about-blurb"> 
      <p>iovation, a TransUnion Company, was founded with a simple guiding mission: to make the Internet a safer place for people to conduct business.</p>
    </div>
    <div id="discover">
      
    </div>
    <div id="learn">

    </div>
    <div id="connect">

    </div>
  </div>
  <div class="copyright">
    <div id="terms">
      <p>Terms & Conditions / Privacy Policy / CA Policy / Compliance</p>
      <p>© iovation Inc. All rights reserved.</p>
    </div>
    <div id="signup">
      <input id="email" type="text" placeholder="Signup for the latest iovation news...">
    </div>
  </div>
</div>