.content-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-links {
  background: white;
  height: 400px;
  display: flex;
}

#about-blurb {
  width: 30%;
  margin-left: 50px;
  align-self: center;
  color: grey;
  font-size: 15px;
}

#link-column {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.footer-links h6 {
  font-size: 15px;
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
  color: grey;
  font-size: 15px;
}

.footer-links li {
  margin-bottom: 5px;
}

.copyright {
  background-color: #333;   
  color: white;
  display: flex;
  justify-content: space-between;
  height: 150px;
}

#terms {
  margin-left: 50px;
  font-size: 10px;
  align-self: center;
}

#signup {
  margin-right: 40px;
  align-self: center;
}

input#email {
  width: 60%;
  height: 25px;
  margin: 0 auto;
  border: none;
  border:solid 1px #ccc;
  border-radius: 20px;
  background-color: white;
  width: 500px;
  height: 40px;
  padding: 10px;
}