<div class="main-content">
    <div class="text">
        <h6>Fraud Detection & Prevention</h6>
        <h5>iovation fraud detection and prevention solutions.</h5>
        <p>The moment any device attempts to connect to your site or app, you’ll be able to spot user behaviors and device information that leads to fraud, and stop that fraud attempt in real time. iovation tracks billions of devices and our community of analysts add evidence to make this fraud detection and prevention intelligence, even more powerful and effective.</p>
      </div>
    <div class="media">
      <img src="../../assets/man-smartphone-light-blue.jpg" alt="man with iphone smiling">
    </div>
  </div>
  
  